.cover {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: $Color1;
    padding: 5%;
    margin-left: 0;
    height: 100%;
}

.title {
    visibility: hidden;
    margin: 0;
    font-size: 0;
}

.video {
    display: flex;
}

@media screen and (max-width: 7000px) {
    .cover {
        margin-top: 100px;
    }
}