.calendar {
    height: 100%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .calendar {
        @include marginPhone
    }

    iframe {
        width: 90%;
    }
}