.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 100px;

    &__link {
        font-size: xx-large;
        color: black;
        text-decoration: none;
    }

}

@media screen and (max-width: 700px) {
    .maps {
        @include marginPhone;

        &__map {
            height: 450px;
        }

        &__link {
            font-size: large;
        }
    }

}