.review {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 100px;
    padding: 10px;

    &__title {
        text-align: center;
        font-size: xx-large;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}

@media screen and (max-width: 700px) {
    .review {
        @include marginPhone
    }
}