.shop {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    text-align: center;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

}

@media screen and (max-width: 630px) {
    .shop {
        @include marginPhone
    }
}